/.idea/
*/.idea/
.gradle
HELP.md
*.iml
.next
node_modules
build
htmlReport
/todo-service/asciidoc/*.html
/todo-web/out/
/todo-web/public/sw.js
/todo-web/public/sw.js.map
/todo-web/public/workbox-*.js
/todo-web/public/workbox-*.js.map
/todo-web/public/icons
/todo-web/public/static
/logs/
*/logs/
/.fleet/
/wsl/out/
/todo-service/src/test/resources/flow.csv
/todo-service/src/test/resources/flow.xlsx
/todo-service/src/test/resources/out.sql
/todo-service/src/main/resources/db/auto/generate.sql
/todo-web/coverage/
/todo-service/src/main/resources/ocr/
