/.idea/
*/.idea/
.gradle
/gradle/wrapper
gradlew
gradlew.bat
HELP.md
*.iml
*.jar
gradle-wrapper.properties
package-lock.json
.next
node_modules
build
htmlReport
/todo-service/asciidoc/*.html
/todo-web/out/
/todo-web/public/sw.js
/todo-web/public/sw.js.map
/todo-web/public/workbox-*.js
/todo-web/public/workbox-*.js.map
/todo-web/public/icons
/todo-web/public/static
/logs/
*/logs/
/.fleet/
