.categoryContainer {
  height: 60px;
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
}

.categoryContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0);
}

.categoryContainer::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background-color: rgba(245, 245, 245, 0);
}

.categoryContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.categoryItem {
  min-width: 100px;
  display: inline-block;
  margin: 5px auto;
  font-size: 16px;
  animation: slideFadeDown 750ms forwards;
}

.categoryLabel {
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.categoryLabel:hover {
  background-color: #484848;
}

input[type='radio']:checked + .categoryLabel {
  color: #ffffff;
  background: #009924;
}

@keyframes slideFadeDown {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
