.categoryItem {
    display: inline-block;
    width: 100%;
    height: 35px;
    margin: 10px auto 5px auto;
    font-size: 16px;
    animation: slideFadeDown 750ms forwards;
    border-radius: 5px;
    cursor: pointer;
}

.categoryLabel {
    width: 100%;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.categoryItemBackgroundColor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 153, 36, 0.3);
}

input[type='checkbox']:checked + .categoryItemBackgroundColor {
    color: #ffffff;
    background: #009924;
}
