.header {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.close {
    height: 100%;
    float: right;
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--model-outter-background-color);
    z-index: 10;
    display: flex;
    align-items: center;
}

.innerContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 618px;
    width: 90vw;
    height: 90vh;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px 0;
}
