.main {
    min-height: 100vh;
    text-align: right;
}

.category {
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.item {
    padding: 15px;
    cursor: pointer;
}

.itemHover {
    background-color: var(--background-color-3);
}

.item:hover {
    background-color: var(--background-color-3);
}

.number {
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 10px;
    display: inline-flex;
    align-content: center;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: var(--color);
    background-color: var(--background-color-3);
    border-radius: 160px;
    padding: 0 2px;
}