.main {
    min-height: 100vh;
    text-align: right;
}

.category {
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.item {
    padding: 15px;
    cursor: pointer;
}

.item:hover {
    background-color: #efefef;
}