.taskItem {
    padding: 10px;
    background-color: var(--background-color-1);
    overflow: hidden;
    transition: color 200ms, background-color 200ms;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-bottom: 1px solid var(--background-color-2);
}

.taskItem:last-child {
    margin-bottom: 0;
}

.taskItem:hover {
    background-color: var(--background-color-3);
}

.taskCenter {
    display: grid;
    grid-template-columns: 1fr;
}

.taskTime {
    color: var(--text-secend);
}

.something {
    background-color: var(--background-color-4);
    border-radius: 8px;
    margin-bottom: 10px;
}

.taskName {
    font-size: 16px;
    line-height: 130%;
    word-break: break-word;
    line-break: strict;
    color: var(--text-color-1);
}

.sep5 {
    height: 5px;
}

.categoryName {
    color: var(--text-color-2);
    display: inline;
    width: min-content;
    padding: 0 5px;
    font-size: 13px;
    border-radius: 3px;
    background-color: var(--text-background-color-1);
}

.second {
    color: var(--text-color-2);
    display: inline;
    width: min-content;
    padding: 0 5px;
    font-size: 13px;
    border-radius: 3px;
}