.textAreaDiv {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.label {
    font-size: 13px;
    color: var(--text-secend);
    padding: 10px;
}

.textAreaNoBackground {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-width: 685px;
    overflow: auto;
    height: max-content;
    cursor: text;
    outline: 0;
    resize: none;
    background-color: var(--background-color-1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 2px 18px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}