.taskItem {
    padding: 12px 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 2px 18px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #fff;
    display: grid;
    grid-template-areas: "checkbox . content . time";
    grid-template-columns: auto 16px 1fr 16px auto;
    overflow: hidden;
    transition: color 200ms, background-color 200ms;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.taskItem:hover {
    background-color: #f7f7f7;
}

.taskTime {
    color: #9b9b9b;
}