.container {
    width: 100%;
    height: max-content;
}

.item {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.itemTitle {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 10px;
    text-indent: 10px;
    margin: 0;
    padding: 0;
}

.itemValue {
    font-size: 50px;
    line-height: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-indent: 5px;
}

.completed {
    color: #00ff36;
}

.button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #004812;
    color: #f7f7f7;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
