.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.leftNavBar {
    margin: 0 0;
    height: 100vh;
    background-color: #eaeaea;
}

.rightContainer {
    margin: 0 0;
    height: 100vh;
    background-color: #f3f3f3;
}

.taskContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: 714px;
    margin: 0 auto;
}

.markCompleted {
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(20, 255, 0, 0.34), 0 2px 18px rgba(20, 255, 0, 0.34);
    border-radius: 8px;
    color: rgba(110, 110, 110, 0.45);
}

.filler {
    min-height: 50px;
}

.dropzone {

}