.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
}

.leftNavBar {
    margin: 0 0;
    min-height: 100vh;
    background-color: #ffffff;
}

.centerContainer {
    margin: 0 0;
    min-height: 100vh;
    background-color: #f3f3f3;
    overflow: auto;
}

.rightContainer {
    margin: 0 0;
    min-height: 100vh;
    background-color: #ffffff;
}

.taskContainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 714px;
    margin: 0 auto;
    transition: transform 200ms ease 0s;
}

.markCompleted {
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(20, 255, 0, 0.34), 0 2px 18px rgba(20, 255, 0, 0.34);
    border-radius: 8px;
    color: rgba(110, 110, 110, 0.45);
}

.filler {
    min-height: 40px;
}

.dropzone {

}