.light {
    color-scheme: light;
    color: var(--color);
    --color: #0e0e0e;
    --background-color-1: #ffffff;
    --background-color-2: #e2e2e2;
    --background-color-3: #f7f7f7;
    --background-color-4: #e8e8e8;
    --model-outter-background-color: rgba(0, 0, 0, 0.5);
    --model-inner-background-color: rgb(255, 255, 255);
    --text-secend: #999999;
    --text-color-1: rgb(75, 79, 84);
    --text-color-2: rgb(153, 153, 153);
    --text-background-color-1: rgb(245, 245, 245);
}

.dark {
    color-scheme: dark;
    color: var(--color);
    --color: #eeeeee;
    --background-color-1: #000000;
    --background-color-2: #333333;
    --background-color-3: #606060;
    --background-color-4: #797979;
    --model-outter-background-color: rgba(0, 0, 0, 0.5);
    --model-inner-background-color: rgb(87, 87, 87);
    --text-secend: #c7c7c7;
}

/* 设置全局默认字体 */
body {
    font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
    padding: 0;
    margin: 0;
    overflow-y: overlay;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* 设置标题字体 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
    font-weight: bold;
}

textarea, input {
    font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
}

/* 设置正文字体 */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* 设置链接字体 */
a {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 设置列表字体 */
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

li {
    margin: 0.5em 0;
    font-size: 16px;
    line-height: 1.5;
}

table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    width: 100%;
}

th, td {
    border: none;
}

th {
}

/* 设置代码字体 */
code, pre {
    font-family: "SF Mono", "Consolas", "Menlo", "Monaco", "Courier New", monospace;
}

pre {
    margin: 1em 0;
    padding: 1em;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    overflow-x: auto;
}

/* 设置图片字体 */
img {
    max-width: 100%;
    height: auto;
}