.container {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: max-content;
    padding-bottom: 40px;
}

.contentArea {
    width: 100%;
    max-width: 750px;
    padding: 5px 10px 10px 10px;
    margin: 0 auto;
}

.operationArea {
    width: 100%;
    max-width: 750px;
    height: 50px;
    padding: 5px 10px;
    margin: 0 auto;
}

.taskButton {
    width: 90%;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: 5px auto;
}

.button {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #004812;
    color: #f7f7f7;
    border-radius: 5px;
    border: 0;
}
