.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
}

.leftNavBar {
    margin: 0 0;
    min-height: 100vh;
    background-color: #ffffff;
}

.centerContainer {
    margin: 0 0;
    min-height: 100vh;
    background-color: #f3f3f3;
    overflow: auto;
}

.rightContainer {
    margin: 0 0;
    min-height: 100vh;
    background-color: #ffffff;
}